$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*==========================================================================*/
/*=============================== setup e mixin ============================*/
/*==========================================================================*/

$titolo: 'Cantata One', serif;
$serif: 'Lora', serif;
$sans:  'Raleway', sans-serif;

$small_text: 14px;
$title_text: 41px;
$regular_text:21px;


$nero:#000;
$bianco: #fff;
$grigio_chiaro: #e5e5e4;
$grigio_scuro: #aeaeaf;
$rosso: #db1933;
$giallo: #faa61a;
$verde: #82b518;


/*==========================================================================*/
/*============================= oggetti generici ===========================*/
/*==========================================================================*/

.ui, h5, h3{
  font-family: $sans;
  text-transform: uppercase;
}

a{
  color: $nero;
  &:hover{
    text-decoration: none;
    color: $nero;
  }
}

h1{
  margin-top:10px;
}
h2{ 
  margin-top:10px;
  font-weight: bolder;
  font-size:$title_text;
  &:first-letter {
      text-transform: uppercase;
  }
}
h3{
  margin-top:10px;
  font-weight: lighter;
  font-size:$regular_text;
}
h5{
  margin-top: 0;
  font-size:$small_text;
  font-weight: lighter;
  color: $grigio_scuro;
}

ul.quattro_colonne{
    columns: 4;
    //margin-left: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    li{
      border-left:1px solid;
      padding: 5px 15px;
      text-align:left;
      display: inline-table;
      width: 100%;
      a{
        white-space: nowrap;
        overflow: hidden;              /* "overflow" value must be different from "visible" */ 
        text-overflow: ellipsis;
        display: block;
        max-width: 210px;
      }
      span{
        color: $grigio_scuro !important;
        a{
          color: $nero;
          margin-top: -10px;
          float: left;
          &::after{
            padding: 0 5px;
            content:url('../images/ico_ciliegia_small.png');
            vertical-align: -25%;
          }
        }
      }
    }
}

body input.form-control, body textarea.form-control{
  font-family: $sans;
  text-transform: uppercase;
  height: auto;
  text-align: left;
  &.half{
    width: 49% !important;
    margin-left: 2%;
    float: left;
    &:first-child{
      margin-left: 0;
    }
  }
}

.form-control {
    display: block;
    width: 44%;
    margin: 20px auto 0;
    height: auto;
    padding: 15px 30px;
    font-size: 21px;
    line-height: 33px;
    border-radius: 35px;
    color: #faa61a;
    background-color: #fff;
    background-image: none;
    border-color: $grigio_chiaro;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.glyphicon-search {
    color: #faa61a;
    float: left;
    position: absolute;
    z-index: 10;
    top: 200px;
    margin-left: 360px;
    font-size: 30px;
}

.container{
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

.bubble{
  //border-radius:50%;
  //background-color: rgba(255, 255, 255, 0.6);
  background:url('../images/bk_sfumato.png') center;
  //opacity: 0.7;
  width: 800px;
  margin: auto;
  color: $nero; 
  padding:15px;
  margin-top: 30px;


  p {
    width: 75%;
    height: 75%;
    margin: 50px auto 0 auto;
  }
}



/*==========================================================================*/
/*================================== start css =============================*/
/*==========================================================================*/

html, body, .ng-scope, .container-fluid, .row {
   min-height :100%;
   height: 100% !important;
   width: 100%;
   overflow: hidden;
}
html, body {
  position: relative;
  height: 100% !important;
}
body {
  font-family: $titolo;
  font-size: $regular_text;
  color:$nero;
  margin: 0;
  padding: 0;
  text-align: center;
  background:url('../images/bk.jpg');

  .container-fluid{
    margin:0;
    padding:0;
  }

  .payoff{
    position:fixed;
    margin: 0 auto;
    top:30px;
    width: 100%;
    text-align: center;
  }
  
  .cover{
    background:url('../images/cover_bk.jpg') center no-repeat;
    height: 100%;
   // padding:30px;
    //  margin:-30px;
    .logo{
      margin-bottom: 60px;
    } 

    h1{
      width: 100%;
      float: left;
      margin-top: 46px;
      font-size: 28px;
    }

    .logo_unimi{
      bottom: 60px;
      position: absolute;
      left:50%;
      margin-left:-90px;
    }

    ul.lang{
      padding:0;
      margin:80px 0 110px;
      color:$nero;
      li{
        display: inline;
        cursor:pointer;
        padding: 0 10px;
        &.ita::before{
          padding: 0 10px;
          content:url('../images/lang_ita.png');
          vertical-align: -15%;
        }
        &.eng::after{
          padding: 0 10px;
          content:url('../images/lang_eng.png');
          vertical-align: -15%;
        }
        &.active{
          font-weight: bolder;
        }
      }
    }
  }

  .sidebar{
    width: 225px;
    position:fixed;
    text-align: center;
    z-index: 10;
    right: 120px;
    top:60px;
    margin: 0;
    //background:red;
    font-size: $small_text;
    .logo{
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
    ul.lang{
      padding:0;
      margin: 0;
      margin-top: 20px;
      color:$nero;
      font-size: $small_text;
      font-weight: normal;
      li{
        display: inline;
        cursor:pointer;
        padding: 5px 10px;
        &.ita::before{
          padding: 0 5px;
          content:url('../images/lang_ita_small.png');
          vertical-align: -15%;
          width: 10px;
          height: 10px;
        }
        &.eng::after{
          padding: 0 5px;
          content:url('../images/lang_eng_small.png');
          vertical-align: -15%;
        }
        &.active{
          font-weight: bolder;
        }
      }
    }
    ul.linkbar{
      padding:0;
      margin:0;
      font-size: 16px;
      li{
        padding:0;
        margin:0;
        list-style-type: none;
        padding-top:20px;
        background:url('../images/ui_divisori.png') center bottom no-repeat;
        padding-bottom:20px;
        a{
          color: $grigio_scuro;
          label{
            font-style: normal;
            font-weight: normal;
            width: 100%;
            line-height: 16px;
            margin-top: 10px;
          }
        }
      }
    }
    .logo_unimi.small{
      width: 155px;
      position: absolute;
      bottom: 120px;
      float: none;
      left: 50%;
      margin-left: -75px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .scheda{
    margin:0;
    padding:0;
    .left{
      text-align:right;
    }
    .right{
      text-align:left; 
    }
    .foto{
      img{
        margin-top: -500px;
        position:relative;
      }
    }
    label{
      font-family: $sans;
      font-size: $small_text;
      text-transform: uppercase;
      font-weight: normal;
      color: $grigio_scuro;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
      }
      .swiper-container-v {
          background: transparent;
      }
  }

  .rosso, .giallo, .verde{
    padding:60px;
  }

  .rosso{
    h3{
      color: $rosso;
    }
    ul.quattro_colonne{
      margin-top: 20px;
      li{
        border-color: $rosso;
        margin-top: -3px;
      }
    }
  }
  .giallo{
   // overflow-y: scroll;
   // height: auto;
    header{
      position:fixed;
      width: 100%;
      left:-15px;
      top:0;
      padding-top:60px;
    }
    h3{
      color: $giallo;
    }
    .box_parole{
      margin-top:210px;
      margin-bottom: 200px;
      height: 650px; 
      overflow-y:auto;
      padding-top: 30px;
      padding-bottom: 30px;
      &::before{
        content:url('../images/row_fade_top.png');
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -550px;
      }
      &::after{
        content: url("../images/row_fade.png");
        position: absolute;
        margin: 0 auto;
        bottom: 185px;
        left: 50%;
        margin-left: -550px;
      }
      ul.quattro_colonne{
        li{
          border-color: $giallo;
        }
      }
    }
    .form-control:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
      border-color: rgba(250, 166, 26, 0.8);
      box-shadow: 0 1px 1px rgba(250, 166, 26, 0.075) inset, 0 0 8px rgba(250, 166, 26, 0.6);
    }
  }

  .verde{
    font-family: $sans;
    form{
      margin-left: 30px;
    }
    h3{
      color: $verde;
    }
    h2{ 
      font-family: $serif;}
    p{
      margin: 30px auto;
      width: 80%;
      line-height: 1em;
    }
    input, textarea{
      width: 100% !important;
      font-family: $sans;
      color: $verde;
    }
    textarea{
      height: 200px;
    }
    .form-control:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
      border-color: $verde;
      box-shadow: 0 1px 1px rgba(130, 181, 24, 0.075) inset, 0 0 8px rgba(130, 181, 24, 0.075);
      color: $verde;
    }

    .buttons_box{
      width: 50%;
      float: right;
    }

    .nuova_parola{

    }

    button{
      float: right;
      text-transform: uppercase;
      margin-top: 30px;

      &.attivo{
        background:$verde;
        color: $bianco;
      }
      &.inattivo{
        background:$grigio_scuro;
        color: $bianco;
        margin-right:30px;
      }
    }

  }

  .mappa{
    width: 100%;
    height: 550px;
    background:tranparent;
    a{color:$bianco !important; font-size:1px !important;}
  }
}

.swiper-wrapper{
  z-index: 10;
}


.swiper-button-prev {
    //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org…9.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 400px;
    right: auto;
    top: 12%;
    z-index: 2;
  }
.swiper-button-next {
    //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org…L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 400px;
    left: auto;
    top: 12%;
    z-index: 2;
}

/* Parallax scroll*/

#parallax {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  background-color: transparent;
  cursor: move;
  z-index: 4;
  margin-top: 200px 

}
#layer1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  cursor: move;
  background: transparent;
  z-index: 3;
}
#layer2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  background: transparent url('../images/vivit_layer_1.png') repeat-y 0 0;
  cursor: move;
  z-index: 2;
}
#layer3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  background: transparent url('../images/vivit_layer_1.png') repeat-y 0 0;
  cursor: move;
  z-index: 1;
}
.panel {
  /*float: left;*/
  margin: 0px -30px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  box-shadow:0 !important;
  border:0 !important;
}

#balloon1 {
  position: absolute;
  top: -20px;
  left: 200px;
  width: 500px;
  height: 500px;
  pointer-events: none;
  background: transparent url('../images/pict_anguria.png') no-repeat;
}
#balloon2 {
  position: absolute;
  top: 600px;
  left: -200px;
  width: 500px;
  height: 500px;
  pointer-events: none;
  background: transparent url('../images/pict_piatto.png') no-repeat; 
}
#balloon3 {
  position: absolute;
  top: 1100px;
  left: 300px;
  width: 500px;
  height: 500px;
  pointer-events: none;
  background: transparent url('../images/pict_frusta.png') no-repeat; 
}