$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*==========================================================================*/
/*=============================== setup e mixin ============================*/
/*==========================================================================*/

$titolo: 'Cantata One', serif;
$serif: 'Lora', serif;
$sans:  'Raleway', sans-serif;

$small_text: 14px;
$title_text: 41px;
$regular_text:21px;


$nero:#000;
$bianco: #fff;
$grigio_chiaro: #e5e5e4;
$grigio_scuro: #aeaeaf;
$rosso: #db1933;
$giallo: #faa61a;
$verde: #82b518;
$sfondo:#f4f4f2;


/*==========================================================================*/
/*============================= oggetti generici ===========================*/
/*==========================================================================*/

.ui, h5, h3{
  font-family: $sans;
  text-transform: uppercase;
}

a{
  color: $nero;
  &:hover{
    text-decoration: none;
    color: $nero;
  }
}

h1{
  margin-top:10px;
}
h2{ 
  margin-top:10px;
  font-weight: bolder;
  font-size:$title_text;
  &:first-letter {
      text-transform: uppercase;
  }
}
h3{
  margin-top:10px;
  font-weight: lighter;
  font-size:$regular_text;
}
h5{
  margin-top: 0;
  font-size:$small_text;
  font-weight: lighter;
  color: $grigio_scuro;
}

ul.quattro_colonne{
    columns: 4;
    //margin-left: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    li{
      border-left: 1px solid;
      padding: 6px 15px;
      text-align: left;
      display: inline-block;
      width: 100%;
      margin: 0;
      border-bottom: 0;
      border-top: 0;
      margin-top: -8px !important;
      a{
        white-space: nowrap;
        overflow: hidden;              /* "overflow" value must be different from "visible" */ 
        text-overflow: ellipsis;
        display: block;
        max-width: 210px;
        color: $nero;
        padding-right:50px;
        float: left;
      }
      span{
        color: $grigio_scuro !important;
        &.sel{
          a{
            background:url('../images/ico_ciliegia_small.gif') center right no-repeat;            
          }
        }
      }
    }
}

.level_01{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
}

body input.form-control, body textarea.form-control{    
  font-family: $sans;
  text-transform: uppercase;
  height: auto;
  text-align: left;
  &.half{
    width: 49% !important;
    margin-left: 2%;
    float: left;
    &:first-child{
      margin-left: 0;
    }
  }
}

.form-control {
    display: block;
    width: 44%;
    margin: 20px auto 0;
    font-family: $sans;
    height: auto;
    padding: 15px 30px;
    font-size: 21px;
    line-height: 33px;
    border-radius: 35px;
    color: #faa61a;
    background-color: #fff;
    background-image: none;
    border-color: $grigio_chiaro;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.glyphicon-search {
    color: #faa61a;
    float: left;
    position: absolute;
    z-index: 10;
    top: 200px;
    margin-left: 360px;
    font-size: 30px;
}

.container{
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
  left:0;
}

.bubble{
  border-radius:50%;
  background-color: rgba(255, 255, 255, 0.95);
  width: 550px;
  height: 550px;
  margin: auto;
  color: $nero; 
  padding:15px;
  margin-top: 60px;
  letter-spacing: -1px;

  h1{
    font-size: 51px !important;
    margin-bottom: 20px;
  }

  p {
    width: 75%;
    height: 75%;
    margin: 0 0 0px 11%;
    font-weight: normal;
    float: left;
  }
}

a.negativo{
  display: inline-block;
  margin-top: 60px;
  zoom:0.5;
  .bubble{
    background-color: rgba(0, 0, 0, 0.95);
    color: $bianco;
    width: 300px;
    height: 300px;
    margin-top: 0;
    p{
      margin-bottom: 30px;
      height: auto;
    }
  }
  h1{
    margin-top: 70px !important;
  }
  h3{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 0;
  }
}

.top.generale{
  position: absolute;
  top: 60px;
  left: 60px;
  width: 200px;
  height: 200px;
  z-index: 100;
  display: block;
  opacity:0;
  img{
    width: 100%;
  }
}

.top_bk{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 0;
  display: block;
  background:$sfondo;
  opacity:0;
}

/*==========================================================================*/
/*================================== start css =============================*/
/*==========================================================================*/

html, body, .ng-scope, .container-fluid, .row {
   min-height :100%;
   height: 100% !important;
   width: 100%;
   overflow: hidden;
   margin:0 !important;
}
img.ng-scope {
	width: auto;
	height: auto;
}

html, body {
  position: relative;
  height: 100% !important;
}
body {
  font-family: $titolo;
  font-size: $regular_text;
  color:$nero;
  margin: 0;
  padding: 0;
  text-align: center;
  background:$sfondo;

  .container-fluid{
    margin:0;
    padding:0;
  }

  .payoff{
    position:fixed;
    margin: 0 auto;
    top:30px;
    width: 100%;
    text-align: center;
  }

  .antipasto{
    margin-top:450px;
    margin-bottom: 185px;
    text-align: center;
    width: 100%;
    float: left;
    a{
      color:$bianco;
      display: inline-block;
    }
    label{
      font-family: $sans;
      font-size: $small_text;
      text-transform: uppercase;
      font-weight: normal;
      border-radius:50%;
      padding:15px;
      background:$nero;
      width: 80px;
      height: 80px;
      display: block;
      cursor: pointer;
      line-height: 50px;
    }
  }
  
  .cover{
    background:url('../images/cover_bk.jpg') center no-repeat;
    height: 100%;
    
   // padding:30px;
    //  margin:-30px;

    .transparent{
      width: 400px;
      height:400px;
      margin-bottom: 100px;
      display: inline-block;
      //background:red;
    }

    .logo{
      margin-top: 0;
      float: left;
      margin-bottom: 60px;
      &.cominciare{
        float:none !important;
        display: inline-block;
      }
    } 

    h1{
      width: 100%;
      float: left;
      margin-top: 46px;
      font-size: 28px;
    }

    .bianco{
      z-index: 200;
    }


  }

  .view_credits{
      background:url('../images/credits_bk.jpg') center fixed;
  }

  .cover, .view_credits{
    ul.lang{
      margin: 0;
      padding: 0px 0 80px;
      margin-top: -120px;
      color:$nero;
      
      li{
        display: inline;
        cursor:pointer;
        padding: 0 10px;
        background:$sfondo;
        &.ita::before{
          padding: 0 10px;
          content:url('../images/lang_ita.png');
          vertical-align: -15%;
        }
        &.eng::after{
          padding: 0 10px;
          content:url('../images/lang_eng.png');
          vertical-align: -15%;
        }
        &.active{
          font-weight: bolder;
        }
      }
    }
  }

  .credits{
    height: 160px;
    width: 285px;
    position: absolute;
    z-index: 100;
    bottom: 47px;
    right: 180px;
  }

  .cover_layer{
    .logo{
      position: absolute;
      top: 250px;
      left: 50%;
      margin-left: -430px;
      width: 860px;
    } 

    h1{
      width: 100%;
      float: left;
      margin-top: 46px;
      font-size: 28px;
    }
  }

  .sidebar{
    width: 225px;
    position:fixed;
    text-align: center;
    z-index: 10;
    right: 120px;
    top:60px;
    margin: 0;
    //background:red;
    font-size: $small_text;
    .logo{
      img{
        width: 100%;
        margin-bottom: 20px;
      }
    }
    ul.lang{
      padding:0;
      margin: 0;
      margin-top: 20px;
      color:$nero;
      font-size: $small_text;
      font-weight: normal;
      li{
        display: inline;
        cursor:pointer;
        padding: 5px 10px;
        &.ita::before{
          padding: 0 5px;
          content:url('../images/lang_ita_small.png');
          vertical-align: -15%;
          width: 10px;
          height: 10px;
        }
        &.eng::after{
          padding: 0 5px;
          content:url('../images/lang_eng_small.png');
          vertical-align: -15%;
        }
        &.active{
          font-weight: bolder;
        }
      }
    }
    .logo_unimi.small{
      width: 155px;
      position: absolute;
      bottom: 120px;
      float: none;
      left: 50%;
      margin-left: -75px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

    ul.linkbar{
      //background:url('../images/ui_divisori.png') center top no-repeat;
      padding:0;
      margin:0;
      margin-top: 80px;
      font-size: 16px;
      li{
        padding:0;
        margin:0;
        list-style-type: none;
        padding-top:10px;
        //background:url('../images/ui_divisori.png') center bottom no-repeat;
        padding-bottom:10px;
        a{
          color: $grigio_scuro;
          label{
            font-style: normal;
            font-weight: normal;
            width: 100%;
            line-height: 16px;
            margin-top: 10px;
            font-family: $sans;
            text-transform: uppercase;
          }
        }
      }
    }

  .scheda{
    margin:0;
    background:url('../images/bk_scheda.jpg') center -50px no-repeat;
    //padding:30px;
    //background:url('../images/cover_bk.jpg') center no-repeat;

    .logo_unimi{
      display: none;
    }

    .lingua_selezionata{
      text-align: center;
      margin-top:650px;
      width: 100%;
      float: left;
    }

    .left{
      text-align:right;
      height: 225px;
    }
    .right{
      text-align:left; 
      height: 225px;
    }
    .pep_toolbar{
      position:fixed;
      padding:30px;
      margin:0;
      width: 100%;
      z-index:20;
      top:0;
      left:0;
      font-size: $title_text;
      .close{
        float: right;
        opacity:1;
        margin: 45px;
      }
      .back{
        margin: 15px 30px;
        float: left;
        -webkit-transform: rotate(225deg); /* Safari */
        transform: rotate(225deg); /* Standard syntax */
      }
      a{
        color: $grigio_scuro;
        .glyphicon{
          font-size: $title_text;  
        }
      }
      label{
        padding: 7px 15px;
        background-color: rgba(244, 244, 242, 0.8);
      }
    }

   /* .popup_fake{
      border: 1px solid $grigio_chiaro;
      box-shadow: 10px 10px 30px #888;
      background:url('../images/bk_scheda.jpg') center -50px no-repeat;
      height: 98%;
    }*/
    .foto{
      height: 1062px;
      margin-top: -400px;
      margin-bottom: 100px;
      img{
        position:relative;
      }
    }
    h1{
      margin-top: 0;
      &:first-letter{
        text-transform: uppercase;
      }
    }
    hr{
      height: 15px;
      width: 100%;
      //background:red;
      border:0;
    }
    .sidebar{
      ul.linkbar{
        background: none !important;
        li{
          background: none !important;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
      background:url('../images/bk_sfumato.png') center bottom no-repeat;
      }
      .swiper-container-v {
          background: transparent;
      }
      label{
        font-family: $sans;
        font-size: $small_text;
        text-transform: uppercase;
        font-weight: normal;
        color: $grigio_scuro;
        strong{
          color: $grigio_scuro;
          padding-right:50px;
          padding-top: 10px;
          background: url("../images/ico_ciliegia_small.gif") center right no-repeat;
        }
      }
  }

  .rosso, .giallo, .verde{
    padding:60px;
  }

  .rosso{
    h3{
      color: $rosso;
    }
    ul.quattro_colonne{
      margin-top: 20px;
      li{
        border-color: $rosso;
      }
    }
  }
  .giallo{
   // overflow-y: scroll;
   // height: auto;
    header{
      position:fixed;
      width: 100%;
      left:-15px;
      top:0;
      padding-top:60px;
    }
    .form-control.attivo {
      background:$giallo;
      color: $bianco;
      text-transform: uppercase;
      font-style: normal;
    }
    h3{
      color: $giallo;
    }
    .box_parole{
      margin-top:210px;
      margin-bottom: 200px;
      height: 670px; 
      overflow-y:auto;
      padding-top: 45px;
      padding-bottom: 30px;
      &::before{
        content:url('../images/row_fade_top.png');
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -550px;
      }
      &::after{
        content: url("../images/row_fade.png");
        position: absolute;
        margin: 0 auto;
        bottom: 185px;
        left: 50%;
        margin-left: -550px;
      }
      ul.quattro_colonne{
        li{
          border-color: $giallo;
        }
      }
    }
    .form-control:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
      border-color: rgba(250, 166, 26, 0.8);
      box-shadow: 0 1px 1px rgba(250, 166, 26, 0.075) inset, 0 0 8px rgba(250, 166, 26, 0.6);
    }

    .arrow_down{
      position: absolute;
      bottom: 60px;
      z-index: 100;
      float: none;
      right: 50%;
      margin-right: -40px;
    }
  }

  .verde{
    font-family: $sans;
    form{
      margin-left: 30px;
    }
    h3{
      color: $verde;
    }
    h2{ 
      font-family: $serif;}
    p{
      margin: 30px auto;
      width: 80%;
      line-height: 1em;
    }
    input, textarea{
      width: 100% !important;
      font-family: $sans;
      color: $verde;
    }
    textarea{
      height: 200px;
    }
    .form-control:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
      border-color: $verde;
      box-shadow: 0 1px 1px rgba(130, 181, 24, 0.075) inset, 0 0 8px rgba(130, 181, 24, 0.075);
      color: $verde;
    }

    .buttons_box{
      width: 50%;
      float: right;
    }

    .nuova_parola{

    }

    button{
      float: right;
      text-transform: uppercase;
      margin-top: 30px;

      &.attivo, &.attivo:active{
        background:$verde;
        color: $bianco;
      }
      &.inattivo,  &.inattivo:active{
        background:$grigio_scuro;
        color: $bianco;
        margin-right:30px;
      }
    }
  }

  .popup{
    .popup_txt{
      margin-top: 190px;
      margin-bottom: 60px;
      .form-control{
        display: inline-block;
        margin: 60px auto;
        float: none;
        background:$verde;
        color: $bianco;
        text-transform: uppercase;
      }
      .chiudi{
        float: right;
        font-size: 37px;
        margin-top: -90px;
        color: $grigio_scuro;
      }
      .spiega{
        font-family: $serif;
        font-size: $title_text;
        width: 60%;
        display: inline-block;
      }
      .note{
        width: 60%;
        display: inline-block;
        margin-top: 30px;
      }
      span{
        font-weight: bolder;
        color: $verde;
      }
    }
  }

  .mappa{
    width: 100%;
    height: 550px;
    background:tranparent;
    &::before{
      content:url('../images/mask_map.png');
      float: left;
      margin-bottom: -560px;
      width: 100%;
      position:relative;
      z-index: 10;
    }
    a{
      color:$bianco !important; font-size:1px !important;
    }
  }
}

.giustificato{
  text-align: justify;
}

.box_crediti{
    background: $bianco;
    padding: 90px;
    width: 50%;
    margin: 50px auto;
    font-family: $sans;
    font-size:16px;

    .logo{
      width:120px;
      float: none !important;
    }

    .QR-vivit{
      width:90px;
      float: none !important;
    }

    h4{
      font-weight: bolder;
      font-size:21px;
      margin-top: 30px;
    }

    table{
      margin:30px auto;
      text-align: left;
      tr{
        td{
          padding:5px;
        }
      }
    }
}

.swiper-button-prev {
    background: url("../images/left_arrow.gif") transparent !important;
    left: 400px;
    width: 90px;
    height:70px;
    right: auto;
    top: 45%;
    z-index: 2;
    opacity:0.6;
  }
.swiper-button-next {
    background: url("../images/right_arrow.gif") transparent !important;
    right: 400px;
    left: auto;
    width: 90px;
    height:70px;
    top: 45%;
    z-index: 2;
    opacity:0.6;
}

/* Parallax scroll*/

#parallax {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  background-color: transparent;
  cursor: move;
  z-index: 4;
  padding-top: 200px;
  top: 0;
  left:0;

  .panel{
    box-shadow: none !important;
  }
}

#layer1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  cursor: move;
  background: transparent;
  z-index: 3;
  top: 0;
  left:0;
}
#layer2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  background: transparent url('../images/vivit_layer_1.png') repeat-y 0 0;
  cursor: move;
  z-index: 2;
  margin-top: -60px;
  margin-bottom: -400px;
  top: 0;
  left:0;
}
#layer3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: absolute;
  color: black;
  width: 100%;
  //background: transparent url('../images/vivit_layer_1.png') repeat-y 0 0;
  cursor: move;
  z-index: 1;
  top: 0;
  left:0;
}

#balloon1 {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50000px;
    pointer-events: none;
    background: transparent url("../images/vivit_layer_2.png");
}

.panel{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  box-shadow: none;
  border:0 !important;
}

.arrow_top{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    //@include transform(rotate(90deg));
}
.arrow_down{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
   // @include transform(rotate(-90deg));
}

.goBack{
  background:$nero;
  color:$bianco;
  position:absolute;
  left:60px;
  top:60px;
  z-index:1000;
  border-radius:50%;
  width:60px;
  max-height:60px;
  min-height: 60px;
  line-height:63px;
  font-family: $titolo;

  &:hover{
    color: $bianco;
  }
}

.ng-invalid.ng-dirty {
	border-color: red;
}