<div class="row verde">
        <div class="col-md-offset-2 col-md-8">
        <h5>Parole italiane della cucina nelle lingue del mondo</h5>
        <h3>Vivit</h3>
         <h2>Antipasto per cominciare</h2>
        </div>
        <div ng-include="'views/menu.html'"></div>
      </div>

<div class="container" onselectstart="return false;">
  <div id="parallax">
    <div class="panel">    
      <div class="bubble">
        <h1>I</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>II</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
    </div>
  </div>
</div> 

<div class="container" onselectstart="return false;">
  <div id="layer1">
    <div class="panel">
      <div id="balloon1"></div>
      <div id="balloon2"></div>
      <div id="balloon3"></div>
    </div>
  </div>
</div>

<div class="container" onselectstart="return false;">
  <div id="layer2"> <!--cloud1.png layer-->
    <div class="panel"></div>
  </div>
</div>

<div class="container" onselectstart="return false;">
  <div id="layer3"> <!--cloud2.png layer-->
    <div class="panel"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).bind("dragstart", function() { return false; });
 
  $(function() {
    $("#parallax").parallaxSwipe( { HORIZ: false, LAYER:[.8,4.2] });
    var layerHeight = $('#parallax').parallaxSwipe.getSize();
    $('#layer2').css('height',layerHeight+200);
    $('#layer3').css('height',layerHeight);
  });

</script>