<div class="scheda">
		<!--div class="pep_toolbar">
			<label ng-bind-html="languageMap.cardSentence1[languageSel]"></label>
			<a class="back" href="#{{ linkback }}"><span class="glyphicon glyphicon-share-alt"></span></a>
			<a class="close" href="#main"><span class="glyphicon glyphicon-remove-sign"></span></a>
		</div-->
		<div class="swiper-container swiper-container-h" id="swiper-container-h">
			<div class="swiper-wrapper">
				<div class="swiper-slide x" ng-repeat="term in terms">
					<div class="swiper-container swiper-container-v" id="swiper-{{ $index }}">
						<div class="swiper-wrapper">
							<div class="swiper-slide" ng-repeat="language in term.languages" ng-if="term.languageIndex === $index">
								<div class="row">
									<div class="col-md-12">
										<div class="foto">
											<img src="images/pep_img_01.png" ng-if="!term.imageUrl">
											<img src="{{ term.imageUrl }}" ng-if="term.imageUrl">
										</div>
										<div class=" col-md-offset-2 col-md-4 left">
											<label ng-bind-html="languageMap.cardSentence2[languageSel]"></label>
											<h1 ng-bind="term.termIta"></h1>
											<span ng-if="term.termIta2"><i ng-bind="term.termIta2"></i></span>
											<p ng-bind="term.descIta"></p>
										</div>
										<div class="col-md-4 right">
											<label ng-bind-html="languageMap.cardSentence3[languageSel]"></label>
											<h1><strong ng-bind="language.term"></strong></h1>
											<p ng-if="language.otherTerms"><i ng-bind="language.otherTerms"></i></p>
											<p ng-if="language.desc" ng-bind="language.desc"></p>
										</div>
										<!--hr-->
										<div class="col-md-12 contenuto">
											<a href="#languages/{{ term.termIta }}"><label>{{ languageMap.cardSentence4[languageSel] }} <strong ng-bind="getLanguageCount(term)"></strong></a></label>
											<!--button class="btn btn-xs" ng-click="changeLanguage(-1, term)">indietro</button>
											<button class="btn btn-xs" ng-click="changeLanguage(1, term)">avanti</button-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Arrows -->
			<div class="level_01">
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="text lingua_selezionata">
					<label ng-bind-html="languageMap.cardSentence5[languageSel]"></label>
					<h1 ng-bind="languageName"></h1>
				</div>
			</div>
		</div>
  <div ng-include="'views/menu.html'"></div>
</div>
<script>
	// ALE
	// per inizializzare lo swiper devo aspettare che angular completi il dom
	// per questo aspetto fino a quando il numero di card aspettare coincide con i div presenti nella pagina
	// questo viene controllato ogni decimo di secondo finchè non coincide
 	var bootstrap = function() { 
 		//console.log('test');
		if ($('.x.swiper-slide').length === window.count) { 
			var swiperH = new Swiper('#swiper-container-h', {
				initialSlide: window.index,
				spaceBetween: 0,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop:true,
				autoplay: 6000,
       			autoplayDisableOnInteraction: true,
       			parallax: true,
       			speed: 600,
			});
		} else { 
			setTimeout(bootstrap, 100) 
		}
	};
	bootstrap();
	
  	//https://github.com/nolimits4web/Swiper/blob/master/demos/11-nested.html
  	//http://www.idangero.us/swiper/demos/11-nested.html
</script>