<!--div class="swiper-container" style="height: 300px; width:100%; border: 1px solid #ccc;">

	<div class="swiper-wrapper">
		<div class="swiper-slide" ng-repeat="term in terms" ng-bind="term.termIta"></div>
	</div>

    http://stackoverflow.com/questions/26742361/angularjs-ng-repeat-track-by-index-inside-nested-loops
</div-->
<div class="scheda swiper-container swiper-container-h" id="swiper-container-h">
        <a class="logo" href="#main" style="position:fixed; top:60px; right:60px; z-index:20;">
            <img src="images/pep_logo.png" style="width:120px;">
            <p>Torna</p>
        </a>
        <div class="swiper-wrapper">
			<div class="swiper-slide x" ng-repeat="term in terms">
                <div class="swiper-container swiper-container-v" id="swiper-{{ $index }}">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="language in term.languages" ng-if="term.languageIndex === $index">
							<div class="row">
								<div class="col-md-12">
									<div class="foto">
										<img src="images/pep_img_01.png">
									</div>
									<div class="text col-md-offset-1 col-md-10">
										<label ng-bind="'lingua ' + ($index + 1) + '/' + term.languages.length"></label>
										<h1 ng-bind="language.name"></h1>
									</div>
									<div class=" col-md-offset-1 col-md-5 left">
										<label>Parola Italiana</label>
										<h1 ng-bind="term.termIta"></h1>
										<p ng-bind="term.descIta"></p>
									</div>
									<div class="col-md-5 right">
										<label>Italianismo</label>
										<h1><strong ng-bind="language.term"></strong></h1>
										<p><i>† ákovita, † áquavita</i></p>
										<p ng-if="language.desc" ng-bind="language.desc"></p>
									</div>
								</div>
								<div><button class="btn btn-xs" ng-click="changeLanguage(-1, term)">indietro</button> <button class="btn btn-xs" ng-click="changeLanguage(1, term)">avanti</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
<script>
	// ALE
	// per inizializzare lo swiper devo aspettare che angular completi il dom
	// per questo aspetto fino a quando il numero di card aspettare coincide con i div presenti nella pagina
	// questo viene controllato ogni decimo di secondo finchè non coincide
 	var bootstrap = function() { 
 		//console.log('test');
		if ($('.x.swiper-slide').length === window.count) { 
			var swiperH = new Swiper('#swiper-container-h', {
				initialSlide: window.index,
				//pagination: '.swiper-pagination-h',
				//paginationClickable: true,
				spaceBetween: 0,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop:true
			});
		} else { 
			setTimeout(bootstrap, 100) 
		}
	};
	bootstrap();
	
  	//https://github.com/nolimits4web/Swiper/blob/master/demos/11-nested.html
  	//http://www.idangero.us/swiper/demos/11-nested.html
</script>