    <div class="container-fluid verde popup" style="background:url(images/OPP_AggiungiPopup.png)">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
        	<h5>Parole italiane della cucina nelle lingue del mondo</h5>
        	<div class="popup_txt">
        		<a class="chiudi glyphicon glyphicon-remove" href="#form"></a>
        		<div class="spiega">
        			Grazie Nome Cognome, <br>
        			la parola <span>Ciapati</span> è stata inserita<br> fra gli italianismi in lingua <span>Hindi</span>
        		</div>
        		<div class="note">
	        		Il tuo contributo è prezioso per arricchire il nostro "vocabolario degli italianismi".
	        	</div>
				<a class="btn form-control attivo half" href="#form">Aggiungi un'altra parola</a>
        	</div>
        </div>
        <div ng-include="'views/menu.html'"></div>
      </div>
    </div>