  <div class="row view_credits">
    <a href="#credits" ></a>
    <div class="container" onselectstart="return false;">
      <div>
        <div class="panel">
          <ul class="lang ui" id="lang">
            <li class="ita{{ languageSel === 'ita' ? ' active' : '' }}"><a ng-click="changeLanguage('ita')">Italiano</a></li>
            <li class="eng{{ languageSel === 'eng' ? ' active' : '' }}"><a ng-click="changeLanguage('eng')">English</a></li>
          </ul>
          <a class="logo" >
            <img src="images/pep_logo.png">
            <h1 class="ui">Crediti</h3>
          </a>
            <p><strong>Progettazione e revisione generale</strong><br />
Università degli studi di Milano<br />
Silvia Morgana, Massimo Prada, Giuseppe Polimeni, Giuseppe  Sergio; collaborazione di Maria Polita.<br />
<strong>Contenuti:</strong><br />
Accademia della Crusca: sezione <strong>cucina </strong>di <a href="http://www.VIV-it.org">www.VIV-it.org</a>, a cura di Giovanna Frosini,  Marzia Caria, Anna Colia (pagina 7 <em>Il lessico della gastronomia</em>; 7.1 <em>Geosinonimi  e dialettismiculinari</em>; 7.2 <em>Italianismi gastronomici</em>).<br />
La maggior parte dei dati proviene da un progetto di un <strong><em>Dizionario  di italianismi nel mondo</em></strong>, curato da Luca Serianni, Lucilla Pizzoli e  Leonardo Rossi tra il 2006 e il 2008. I dati sugli italianismi della  gastronomia,  raccolti da Lucilla Pizzoli,  sono dunque da intendersi aggiornati a quella data e non sempre definitivi. Le  lingue che qui si presentano sono solo una selezione del progetto originario,  al quale hanno lavorato decine di informatori. Il progetto è al momento in fase  di rielaborazione e potrebbe confluire in una nuova ricerca, sostenuta  dall&rsquo;Accademia della Crusca.<br />
I dati riportati si riferiscono esclusivamente ai  significati attestati in ambito gastronomico.<br />
La fonte dei dati è prevalentemente lessicografica (in  alcuni casi ci si è basati su attestazioni recentemente introdotte anche nell&rsquo;uso  orale o in menu di ristoranti). <br />
                </p>
            <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Arabo</p></td>
                <td width="256" valign="top"><p>Guido Cifoletti</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Catalano </p></td>
                <td width="256" valign="top"><p>Yorik Gomez Gane, <em>Gli italianismi nel catalano.    Dizionario storico-etimologico</em>, Roma, Aracne, 2012</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Ceco</p></td>
                <td width="256" valign="top"><p>Wojciech Sowa</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Coreano </p></td>
                <td width="256" valign="top"><p>Antonetta Bruno </p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Danese</p></td>
                <td width="256" valign="top"><p>Pierpaolo Caserta</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Estone</p></td>
                <td width="256" valign="top"><p>Fulvio Meguschar</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Faroese</p></td>
                <td width="256" valign="top"><p>Gianfranco Contri</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Finnico </p></td>
                <td width="256" valign="top"><p>Delfina Sessa </p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Giapponese</p></td>
                <td width="256" valign="top"><p>Maki Imazu</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Irlandese (gaelico)</p></td>
                <td width="256" valign="top"><p>Elisa Roma</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Lettone</p></td>
                <td width="256" valign="top"><p>Fulvio Meguschar</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Lituano</p></td>
                <td width="256" valign="top"><p>Stefano Lanza </p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Polacco</p></td>
                <td width="256" valign="top"><p>Roman Sosnowski</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Portoghese</p></td>
                <td width="256" valign="top"><p>Gianluca Miraglia</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>russo</p></td>
                <td width="256" valign="top"><p>Ettore Gherbezza</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Slovacco </p></td>
                <td width="256" valign="top"><p>Wojciech Sowa</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Sloveno</p></td>
                <td width="256" valign="top"><p>MartinaOzbot</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Spagnolo </p></td>
                <td width="256" valign="top"><p>Paula QuirogaMunguía</p></td>
              </tr>
              <tr>
                <td width="94" valign="top"><ol>
                  <li>&nbsp;</li>
                </ol></td>
                <td width="137" valign="top"><p>Ungherese </p></td>
                <td width="256" valign="top"><p>FábiánZsuzsanna – SzabóGyőző, <em>Dall&rsquo;Italia    all&rsquo;Ungheria: parole di origine italiana nella lingua ungherese</em>,    Udine,Forum Editrice, 2010</a>(A Polis KulturálisEgyesületÉs A Pro    Renovanda Cultura HungariaeAlapítványTámogatásával) </p></td>
              </tr>
            </table>
            <p>Altre fonti e curatori:<br />
              <strong><em>Dizionario di italianismi in francese, inglese e  tedesco</em></strong> (DIFIT) , Firenze, Accademia della Crusca, 2008,a cura di  HarroStammerjohann, con la collaborazione di Enrico Arcaini, Gabriella Cartago,  Pia Galetto, Matthias Heinz, Maurice Mayer, Giovanni Rovere, GesineSeymer.<br />
              Estrazione e revisione degli italianismi gastronomici nel  DIFIT a cura di  Andrea Felici, Giovanna  Frosini.<br />
              Francesca Perissinotto, <strong><em>Meal in Italy. Italianismi nel  linguaggio gastronomico inglese ed angloamericano</em></strong>, in «Italiano  LinguaDue» 7 (2015), pp.265- 295.<br />
              Maurizio Tani, <strong><em>Gli italianismi nella lingua islandese</em></strong>,  in «Italiano LinguaDue», 2 (2010), pp. 170-195.<br />
  <strong><em>Voca3. Vocabolario della gastronomia italiano-inglese-  cinese</em></strong>, Università degli studi di Milano- Dipartimento di Scienze della  Mediazione linguistica.<br />
              Estrazione e revisione degli italianismi gastronomici  (lingua cinese) a cura di Clara Bulfoni e Eleonora Nava.<br />
  <strong>Traduzioni:</strong><br />
              Jennifer Coe.<br />
  <strong>Progettazione e gestione informatica:</strong>Aleco<br />
  <strong>Progetto grafico e userinterface: </strong>Aleco</p>
        </div>
      </div>
    </div> 
</div>