    <div class="container-fluid verde">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h5>Parole italiane della cucina nelle lingue del mondo</h5>
  			  <h3>Aggiungi una parola Straniera</h3>
          <p>Lo scopo del progetto è Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div ng-include="'views/menu.html'"></div>
      </div>
    </div>

