    <div class="container-fluid verde" style="background:url(images/OPP_Aggiungi.png)">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h5>Parole italiane della cucina nelle lingue del mondo</h5>
  			  <h3>Aggiungi una parola Straniera</h3>
          <p>Lo scopo del progetto è Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint </p>
          <div class="row">
            <form>
              <fieldset>
                <div class="form-group col-md-offset-1 col-md-10">
                    <input id="textinput" name="textinput" type="text" placeholder="Nome / Cognome *" class="form-control half" required="">
                    <input id="mail" name="mail" type="text" placeholder="E-mail *" class="form-control half" required="">
                </div>
                <div class="form-group col-md-offset-1 col-md-10">
                  <input id="NuovaParola" name="NuovaParola" class="form-control nuova_parola" placeholder="Nuova Parola" type="text">
                  <input id="Lingua" name="Lingua" type="text" placeholder="Lingua" class="form-control lingua">
                  <textarea class="form-control" id="Significato" name="Significato" placeholder="Significato e note"></textarea>
                  <div class="form-group buttons_box">
                    <button id="button1id" name="button1id" class="btn form-control attivo half">Invia</button>
                    <button id="button2id" name="button2id" class="btn form-control inattivo half">Annulla</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div ng-include="'views/menu.html'"></div>
      </div>
    </div>

    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>