

    <div class="row rosso"  style="background:url(images/OPP_LinguaParola.png)">
      <div class="col-md-offset-2 col-md-8">
        <header>
    			<h5>Parole italiane della cucina nelle lingue del mondo</h5>
    			<h3 ng-hide="term">Seleziona una lingua</h3>
          <h2 ng-hide="term">&nbsp</h2>
       		<h3 ng-show="term">Dove si usa la parola</h3>
       		<h2 ng-show="term" ng-bind="term.termIta"></h2>
        </header>
        <div id="mapdiv" class="mappa"></div>
    		
        <ul class="quattro_colonne">
    			<li ng-repeat="language in languages">
    				<span ng-if="!term || hasLanguage(language)" class="sel">
    					<a href="#{{ term ? 'card/' + term.termIta + '/' + language + '/' + search : 'terms/' + language }}" ng-bind="language"></a> <!--span ng-if="hasLanguage(language)" class="label label-success">sel</span-->
    				</span>
    				<span ng-if="term && !hasLanguage(language)" ng-bind="language"></span>
    			</li>
    		</ul>
      </div>
      <div ng-include="'views/menu.html'"></div>
    </div>
    
    <script type="text/javascript">
      // http://www.amcharts.com/visited_countries/ qui trovi l'esempio per la selezione dei paesi semplice
      // http://www.amcharts.com/demos/map-with-curved-lines/
      var map = AmCharts.makeChart("mapdiv",{
    		type: "map",
    		theme: "dark",
    		//pathToImages : "http://cdn.amcharts.com/lib/3/images/",
    		panEventsEnabled : true,
    		backgroundColor : "#fff",
    		backgroundAlpha : 0,
        dragMap: false,
    		zoomControl: {
    			panControlEnabled : false,
    			zoomControlEnabled : false
    		},
    		dataProvider : {
    			map : "worldHigh",
    			getAreasFromMap : true,
    			lines: [{
            //Ceco ,
    				latitudes: [45.4636, 50.083333],
    				longitudes: [9.1881, 14.416667]
          }, {
            //cinese ,
            latitudes: [45.4636, 39.905556],
            longitudes: [9.1881, 116.391389]
          }, {
            //Coreano  ,
            latitudes: [45.4636, 39.033333],
            longitudes: [9.1881, 125.75]
          }, {
            //faroese ,
            latitudes: [45.4636, 62.011667],
            longitudes: [9.1881, -6.7675]
    			}, {
            //danese ,
    				latitudes: [45.4636, 55.683333],
    				longitudes: [9.1881, 12.583333]
    			}, {
            //arabo, 
    				latitudes: [45.4636,  24.711660],
    				longitudes: [9.1881, 46.724100]
    			}, {
            //Estone
    				latitudes: [45.4636, 59.43],
    				longitudes: [9.1881, 24.74]
    			}, {
            //Finnico ,
    				latitudes: [45.4636, 59.437222],
    				longitudes: [9.1881, 24.745278]
    			}, {
            // Francese ,
    				latitudes: [45.4636, 48.856667],
    				longitudes: [9.1881, 2.351944]
    			}, {
            // Tedesco ,
    				latitudes: [45.4636, 52.518611],
    				longitudes: [9.1881, 13.408056]
    			}, {
            // Giapponese ,
    				latitudes: [45.4636, 35.689506],
    				longitudes: [9.1881, 139.6917]
    			}, {
            // Gaelico ,
    				latitudes: [45.4636, 53.3425],
    				longitudes: [9.1881, -6.265833]
    			}, {
            // Lettone  ,
    				latitudes: [45.4636, 56.948889],
    				longitudes: [9.1881, 24.106389]
    			}, {
            // Lituano ,
    				latitudes: [45.4636, 54.683333],
    				longitudes: [9.1881, 25.283333]
          }, {
            //Polacco  ,
            latitudes: [45.4636, 52.2323],
            longitudes: [9.1881, 21.008433]
          }, {
            // Portoghese ,
            latitudes: [45.4636, 38.7],
            longitudes: [9.1881, -9.183333]
          }, {
            // Catalano ,
            latitudes: [45.4636, 41.383333],
            longitudes: [9.1881, 2.166667]
          }, {
            // Spagnolo ,
            latitudes: [45.4636, 40.433333],
            longitudes: [9.1881, -3.683333]
          }, {
            // americano ,
            latitudes: [45.4636, 38.895111],
            longitudes: [9.1881, -77.036667]
          }, {
            // Ungherese ,
            latitudes: [45.4636, 47.471944],
            longitudes: [9.1881, 19.050278]
    			}],
    		areas :
            [
              {
                "id": "IT",
                "showAsSelected": true
              },
    		      /*{
                "id": "CZ",
                "showAsSelected": true
              },
              {
                "id": "DE",
                "showAsSelected": true
              },
              {
                "id": "DK",
                "showAsSelected": true
              },
              {
                "id": "EE",
                "showAsSelected": true
              },
              {
                "id": "FI",
                "showAsSelected": true
              },
              {
                "id": "FR",
                "showAsSelected": true
              },
              {
                "id": "GB",
                "showAsSelected": true
              },
              {
                "id": "HU",
                "showAsSelected": true
              },
              {
                "id": "IE",
                "showAsSelected": true
              },
              {
                "id": "LT",
                "showAsSelected": true
              },
              {
                "id": "LV",
                "showAsSelected": true
              },
              {
                "id": "PL",
                "showAsSelected": true
              },
              {
                "id": "PT",
                "showAsSelected": true
              },
              {
                "id": "US",
                "showAsSelected": true
              },
              {
                "id": "CN",
                "showAsSelected": true
              },
              {
                "id": "JP",
                "showAsSelected": true
              },
              {
                "id": "KP",
                "showAsSelected": true
              },
              {
                "id": "SA",
                "showAsSelected": true
              }*/
            ]
          },
        areasSettings : {
          autoZoom : false,
          color : "#c3c3c2",
          colorSolid : "#db1933",
          selectedColor : "#db1933",
          outlineColor : "#f4f4f3",
          rollOverOutlineColor : "#f4f4f3",
          balloonText: ""
        },
        linesSettings: {
            arc: -0.7, // this makes lines curved. Use value from -1 to 1
            arrow: "end",
            color: "#CC0000",
            alpha: 0.4,
            arrowAlpha: 1,
            arrowSize: 4
        },
      });
  </script>