    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-10">
			<h3 ng-hide="term">Seleziona una lingua</h3>
			<h3 ng-show="term">Dove si usa la parola</h3>
			<h2 ng-show="term" ng-bind="term.termIta"></h2>
			<div ng-hide="term" class="alert alert-info">Cartina anonima</div>
			<div ng-show="term" class="alert alert-warning">Cartina contestuale</div>
			<h3>Elenco delle lingue</h3>
			<ul>
				<li ng-repeat="language in languages">
					<span ng-if="!term || hasLanguage(language)">
						<a href="#{{ term ? 'card/' + term.termIta + '/' + language + '/' + search : 'terms/' + language }}" ng-bind="language"></a> <span ng-if="hasLanguage(language)" class="label label-success">sel</span>
					</span>
					<span ng-if="term && !hasLanguage(language)" ng-bind="language"></span>
				</li>
			</ul>
        </div>
        <div class="col-sm-3 col-md-2 sidebar right">
          <a class="navbar-brand" href="#/">italianismi</a>
          <ul class="nav navbar-nav">
            <li><a href="#vivit">Antipasto per cominciare</a></li>
            <li><a href="#languages">Seleziona una lingua straniera</a></li>
            <li><a href="#terms">Cerca una parola</a></li>
            <li><a href="#">Aggiungi una parola Straniera</a></li>
          </ul>
        </div>
      </div>
    </div>
	