<div class="row rosso"  style="background:url(images/OPP_LinguaParola.png)">
  <div class="col-md-offset-2 col-md-8">
	<header>
		<h5>{{ languageMap.languageTitle1[languageSel] }}</h5>
		<h3 ng-hide="term">{{ languageMap.languageTitle2[languageSel] }}</h3>
		<h2 ng-hide="term">&nbsp</h2>
		<h3 ng-show="term">{{ languageMap.languageTitle3[languageSel] }}</h3>
		<h2 ng-show="term" ng-bind="term.termIta"></h2>
	</header>
	<div id="mapdiv" class="mappa"></div>
		
	<ul class="quattro_colonne">
		<li ng-repeat="language in languages">
			<span ng-if="!term || hasLanguage(language.name)" ng-class="{sel:term}">
				<a href="#{{ term ? 'card/' + term.termIta + '/' + language.name + '/' + search : 'terms/' + language.name }}" ng-bind="language.name"></a> <!--span ng-if="hasLanguage(language)" class="label label-success">sel</span-->
			</span>
			<span ng-if="term && !hasLanguage(language.name)" ng-bind="language.name"></span>
		</li>
	</ul>
  </div>
  <div ng-include="'views/menu.html'"></div>
</div>
