  <div class="row cover">
    <div class="col-md-4 verde">
    </div>
    <div class="col-md-4 bianco">
      <ul class="lang ui">
        <li class="ita active"><a href="#vivit"></a>Italiano</li>
        <li class="eng">English</li>
      </ul>
      <a class="logo" href="#languages">
        <img src="images/pep_logo.png">
        <h1 class="ui">
          Parole Italiane della cucina<br> nelle lingue del mondo</h3>
      </a>
    </div>
    <div class="col-md-4 rosso">

    </div>
      <div class="logo_unimi">
        <img src="images/statale_expo_logo.png">
      </div>
  </div>