        <div class="sidebar ui">
          <a class="logo" href="#main">
            <img src="images/pep_logo.png">
          </a>
          <ul class="lang ui">
            <li class="ita active"><a href="#vivit"></a>Italiano</li>
            <li class="eng">English</li>
          </ul>
          <ul class="linkbar">
            <li><a href="#vivit">
              <img src="images/ico_sidebar_vivit.png">
              <label>Antipasto<br>per cominciare</label>
            </a></li>
            <li><a href="#languages">
              <img src="images/ico_sidebar_rosso.png">
              <label>Seleziona una<br>lingua straniera</label>
            </a></li>
            <li><a href="#terms">
              <img src="images/ico_sidebar_bianco.png">
              <label>Cerca una<br>parola italiana</label>
            </a></li>
            <li><a href="#form">
              <img src="images/ico_sidebar_verde.png">
              <label>Aggiungi una<br>parola Straniera</label>
            </a></li>
          </ul>
          <div class="logo_unimi small">
	        <img src="images/statale_expo_logo.png">
	      </div>
        </div>