        <div class="sidebar ui">
          <a class="logo" href="#main" target="_self">
            <img src="images/pep_logo.png">
          </a>
          <ul class="lang ui">
            <li class="ita{{ languageSel === 'ita' ? ' active' : '' }}"><a ng-click="changeLanguage('ita')">Italiano</a></li>
            <li class="eng{{ languageSel === 'eng' ? ' active' : '' }}"><a ng-click="changeLanguage('eng')">English</a></li>
          </ul>
          <ul class="linkbar">
            <!--li><a href="#vivit">
              <img src="images/ico_sidebar_vivit.png">
              <label ng-bind-html="languageMap.menuItem1[languageSel]"></label>
            </a></li-->
            <li><a href="#languages">
              <img src="images/ico_sidebar_rosso.png">
              <label ng-bind-html="languageMap.menuItem2[languageSel]"></label>
            </a></li>
            <li><a href="#terms">
              <img src="images/ico_sidebar_bianco.png">
              <label ng-bind-html="languageMap.menuItem3[languageSel]"></label>
            </a></li>
            <li><a href="#form">
              <img src="images/ico_sidebar_verde.png">
              <label ng-bind-html="languageMap.menuItem4[languageSel]"></label>
            </a></li>
          </ul>
          <div class="logo_unimi small">
	        <img src="images/statale_expo_logo.png">
	      </div>
        </div>

        <a  class="goBack" ng-click="goBack()" href="#">
          <div class="glyphicon glyphicon-chevron-left" style="color:#ccc"></div>
          <div ng-bind-html="languageMap.mainBack[languageSel]"></div>
        </a>