    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-10">
			<h3 ng-hide="language">Parole italiane</h3>
			<h2 ng-hide="language">usate nel mondo</h2>
			<h3 ng-show="language">Parole italiane in</h3>
			<h2 ng-show="language" ng-bind="language"></h2>
			<div>
			<input type="text" class="form-control" placeholder="filtro" title="" ng-model="search.termIta" >
			</div>
			<h3>Elenco parole</h3>
			<ul>
			<li ng-repeat="term in terms | filter:search"><a href="#{{ language ? 'card/' + term.termIta + '/' + language + '/' + search.termIta : 'languages/' + term.termIta + '/' + search.termIta }}" ng-bind="term.termIta"></a></li>
			</ul>
        </div>
        <div class="col-sm-3 col-md-2 sidebar right">
          <a class="navbar-brand" href="#/">italianismi</a>
          <ul class="nav navbar-nav">
            <li><a href="#vivit">Antipasto per cominciare</a></li>
            <li><a href="#languages">Seleziona una lingua straniera</a></li>
            <li><a href="#terms">Cerca una parola</a></li>
            <li><a href="#">Aggiungi una parola Straniera</a></li>
          </ul>
        </div>
      </div>
    </div>


	