<div class="row verde">
  <div class="col-md-offset-2 col-md-8">
    <header>
      <h5>Parole italiane della cucina nelle lingue del mondo</h5>
      <h3>Vivit</h3>
      <h2>Antipasto per cominciare</h2>
    </header>
  </div>
  <div ng-include="'views/menu.html'"></div>
</div>

<div class="container" onselectstart="return false;">
  <div id="parallax">
    <div class="panel">    
      <div class="bubble">
        <h1>I</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>II</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
      <div class="bubble">
        <h1>III</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>IV</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
      <div class="bubble">
        <h1>V</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>VI</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
      <div class="bubble">
        <h1>VII</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>VIII</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
      <div class="bubble">
        <h1>IX</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>X</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
      <div class="bubble">
        <h1>XI</h1>
        <p>Gli italianismi nel mondo costituiscono un fenomeno di grande ampiezza, che registra, secondo le indagini più recenti, oltre ventimila parole e interessa un numero non definito, ma comunque alto, di lingue. La maggior parte degli italianismi, cioè delle parole italiane più diffuse all'estero, viene dal mondo della cultura.</p>
      </div>
      <div class="bubble">
        <h1>XII</h1>
        <p>Sono molto diffuse anche le parole della cucina, come mostra il numero degli italianismi relativi all'alimentazione entrati in inglese nel Novecento: nella prima metà del secolo rappresentano infatti un quarto del totale, sono circa la metà nel periodo successivo e giungono a superare il 70% verso la fine.</p>
      </div>
    </div>
  </div>
</div> 

<div class="container" onselectstart="return false;">
  <div id="layer1">
    <div class="panel">
      <div id="balloon1"></div>
      <div id="balloon2"></div>
      <div id="balloon3"></div>
    </div>
  </div>
</div>

<div class="container" onselectstart="return false;">
  <div id="layer2"> <!--cloud1.png layer-->
    <div class="panel"></div>
  </div>
</div>

<div class="container" onselectstart="return false;">
  <div id="layer3"> <!--cloud2.png layer-->
    <div class="panel"></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $(document).bind("dragstart", function() { return false; });
 
  $(function() { //chrome wants it wrapped in function
  //1. The parallax div moves with your mouse or touch swipe.
  //2. We're moving up and down so HORIZ: false.
  //3. LAYER: speed of layer 1 and layer2 (higher number=slower (using divide in code).
  //4. I did not LAYER layer3 so it remains static

    $("#parallax").parallaxSwipe( { HORIZ: false, LAYER:[.8,4.2] });

    //layer2 and layer3 have no elements. We need to know the parallax's real hidden height.
    //depending on HORIZ: call function to get width or height
    var layerHeight = $('#parallax').parallaxSwipe.getSize();
    $('#layer2').css('height',layerHeight+500); //add some more height for fast moving layers.
    $('#layer3').css('height',layerHeight); //static background but need to add a height.
  });
});

</script>